:root{
    --main-color: #660099;
    --main-color-white: white;
    --main-color-like-white: #efefef;
    --main-color-gray: gray;
    --main-color-black: #1d1d1d;
    --main-color-like-black: #3c3c3c;
}